*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* h1{
    font-size: 50px;
    text-transform: uppercase;
} */
.orange-color{
    color: orange;
}
.main-bg{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 80px;
}
.main-left{
    width: 50%;
    padding: 140px 20px 20px 40px;
}
.main-left h1{
    font-size: 60px;
    font-weight: 800;
}
.main-left p{
    margin-bottom: 30px; 
} 
.main-right{
    margin-right: 0px;
    width: 30%;
}
.main-right img{
   margin: 50px 50px 10px;
}
.button{
    text-decoration: none;
    background-image:linear-gradient(to top left, #ec370e ,#b8674a);
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    
}
.dream-bg{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}
.dream-left{
    width: 50%;

}
.dream-right P{
    margin-bottom: 50px;
}
.dream-right{
    width: 50%;
    padding: 100px 20px 20px 40px;

}
.exprieance{
    display: flex;
    padding-bottom: 20px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;

}
#exprience {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 20px;

}
.exprieance-left{
    width: 40%;
    margin-left: 5%;
    box-shadow: 10px 10px 20px;
    padding: 20px 10px;

}
#exprieance-left{
    border-left: 10px gray solid;
}
.exprieance-right{
    width: 40%;
    margin-left: 5%;
    box-shadow: 10px 10px 20px;
    padding: 20px 10px;

}
#exprieance-right{
     /* border-left: solid;
    border-width: 20px;
    border-style: solid; */
    border-image: linear-gradient( red,blue);
    

}
footer{
    background-color: rgba(17, 16, 16, 0.699);
    color: white;
    text-align: center;
    height: 30px;
    margin-top: 30px;
}
