*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* h1{
    font-size: 50px;
    text-transform: uppercase;
} */
.orange-color{
    color: orange;
}
.main-bg{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.main-left{
    width: 50%;
}
.main-right{
    margin-right: 0px;
    width: 30%;
}
.main-right img{
   margin: 40px 50px 10px;
}
.button{
    text-decoration: none;
    background-image:linear-gradient(to top left, #f15330 ,#e68a69);
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 600;
}
.dream-bg{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-left{
    width: 50%;

}
.dream-right{
    width: 50%;

}
.exprieance{
    display: flex;

}
#exprience {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 45px;

}
.exprieance-left{
    width: 50%;

}
.exprieance-right{
    width: 50%;

}
footer{
    background-color: rgba(17, 16, 16, 0.699);
    color: white;
    text-align: center;
}
